# Python / entornos
__pycache__/
__pycache__/*.pyc
*.pyc
.venv/
venv/
*.pyo


# Debugging files
*.json
logs/
*.log
debug/


# test files
Bets-Hoja24.csv
exports/
testjson.py
test_*.py
test_proxy.py
tests/

# deployment
.dockerignore
clean_deploy/
MIGRATION_GUIDE.md
deploy_direct.sh
deploy.sh
docker-compose.yml
docker-compose.override.yml
.vscode/
.idea/
.DS_Store
.gitignore
repository_backup.py

# Scripts
ocr_*.py
sofascore_api_backup.py

# private
.env
.cursor/
sofascore.service 


# old files
old/
csv/


# databases backups/dumps
*.db
backup.dump
*.dump
*.dump.gz
latest_backup.dump
latest_backup.dump.gz
db-init/local_backup.dump.gz
db-init/local.backup.dump.gz






















